In [73]:
import subprocess
import pandas as pd
from tqdm import tqdm

In [74]:
# returns a list of users for an AD group
def users(group):
    result = subprocess.run(f"net group /domain {group}", shell=True, capture_output=True, text=True).stdout
    result = result.split("\n")
    output = []
    for r in result:
        if "." in r and "cmpd1.metoffice.gov.uk" not in r and "successfully" not in r:
            row = r.split(" ")
            for name in row:
                if name != '':
                    output.append(name)

    return output

In [75]:
# List of groups to check
pg_groups = [
    "PG_Operators",
    "PG_Meteogram_Users",
    "PG_Meteogram_Managing",
    "PG_Developers_TstEnv",
    "PG_Developers_QA",
    "PG_Developers_prd",
    "PG_Developers_dev",
    "PG_Developers",
    "PG_Administrators",
    "PG_Scheduler_admin_QA",
    "PG_Scheduler_admin_prd",
    "PG_Scheduler_admin_dev",
    "PG_Operators_TstEnv",
    "PG_Operators_QA",
    "PG_Operators_prd",
    "PG_Operators_dev]"
    ]
pg_groups.sort()

In [76]:
# get data
data = {}
for i in tqdm(range(len(pg_groups))):
    group = pg_groups[i]
    names = users(pg_groups[i])
    for name in names:
        if name in data:
            data[name].append(group)
        else:
            data[name] = [group]

100%|██████████| 16/16 [00:16<00:00,  1.04s/it]

In [77]:
# generate table
df = pd.DataFrame(columns=["user"]+pg_groups)
for user in data:
    row = [user]
    for group in pg_groups:
        if group in data[user]:
            row.append("True")
        else:
            row.append(None)
    df.loc[len(df)] = row

df.head()

,user,PG_Administrators,PG_Developers,PG_Developers_QA,PG_Developers_TstEnv,PG_Developers_dev,PG_Developers_prd,PG_Meteogram_Managing,PG_Meteogram_Users,PG_Operators,PG_Operators_QA,PG_Operators_TstEnv,PG_Operators_dev],PG_Operators_prd,PG_Scheduler_admin_QA,PG_Scheduler_admin_dev,PG_Scheduler_admin_prd
0,alice.ranford,True,True,None,True,None,None,None,None,None,None,None,None,None,None,None,None
1,andrew.robertson,True,True,None,None,None,None,None,None,None,None,True,None,None,None,None,None
2,andy.butler,True,True,None,True,True,None,None,None,None,None,None,None,None,None,None,None
3,ashley.ryall,True,True,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,bridget.george,True,True,None,True,None,None,None,None,None,None,None,None,None,None,None,None

In [78]:
# save to excel
df.to_excel("PG_AD_Groups.xlsx", index=False)

In [79]:
# List of groups to check
extractor_groups = [
    "ExtractorUsers",
    "ExtractorSchedulerUsers"
]
extractor_groups.sort()

In [80]:
# get data
extractor_data = {}
for i in tqdm(range(len(extractor_groups))):
    group = extractor_groups[i]
    names = users(extractor_groups[i])
    for name in names:
        if name in extractor_data:
            extractor_data[name].append(group)
        else:
            extractor_data[name] = [group]

100%|██████████| 2/2 [00:02<00:00,  1.13s/it]

In [81]:
# generate table
extractor_df = pd.DataFrame(columns=["user"]+extractor_groups)
for user in extractor_data:
    row = [user]
    for group in extractor_groups:
        if group in extractor_data[user]:
            row.append("True")
        else:
            row.append(None)
    extractor_df.loc[len(extractor_df)] = row

extractor_df.head()

                 user ExtractorSchedulerUsers ExtractorUsers
0          abby.smith                    True           True
1            alan.day                    True           True
2    alastair.gemmell                    True           True
3  aleksandra.kuzmiuk                    True           True
4         andy.butler                    True           None

In [ ]:
# save to excel
extractor_df.to_excel("Extractor_AD_Groups.xlsx", index=False)